h1.En{
color:blueviolet;
text-align: center;
font-family:Arial, Helvetica, sans-serif
}

h2.En2{
color:rgba(43, 208, 226, 0.581);
text-align: center;
font-family:Arial, Helvetica, sans-serif
}



/* CSS */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  fill: rgb(255, 0, 0);
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

/* desde aqui! */
.subrayado-verde {
    color: rgb(21, 230, 14);
    text-decoration: underline;
 }

 .texto-rojo {
    color: rgb(235, 16, 16);
 }

 .doble-subrayado {
    text-decoration: underline overline;
 }

 .negritas-titulo {
    color: rgb(0, 0, 0);
    font-weight: bold;
 }

 .azul {
    color: rgb(7, 11, 248);
 }

 .rojo-subrayado {
    color: rgb(230, 21, 14);
    text-decoration: underline;
 }

 a:link {
    text-decoration: none;
  }
  
  a:visited {
    color: cyan;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    color: rgb(0, 0, 0);
  } 

  .disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }